extends layout.pug 

block content 
  .container 
    h1.create-heading Create List 

    if error
      p.error Error! Try again Bro!

    if success 
      p.success Todo is created!
    
    if deleted
      p.success Deleted

  .container 
  form.form(action='/add' method='POST')
    input.input(type='text' placeholder='Add your todo description here' name='todo')
    button.btn Add  


  .todos
    if todos
      each todo in todos
        p.todo 
          if todo.done
            a.done(href=`/${ todo.id }/update`) #{ todo.description }
          else 
            a.undone(href=`/${ todo.id }/update`) #{ todo.description }
          a.delete(href=`/${ todo.id }/delete`) Delete
    else
      p.todo No any todo available